.item-detail-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	justify-items: space-around;
	padding-right: 5%;
	padding-left: 5%;
}

.item-detail-box {
	margin: 10px;
	display: flex;
	align-items: center;
}

@media screen and (max-width: 480px) {
	.item-detail-container {
		flex-direction: column;
		align-items: center;
		padding: 0px;
	}

	.item-detail-box {
		width: 80%;
	}
}
