.all-stat-container {
	display: flex;

	justify-content: space-around;
}

.single-stat-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stat-single {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 35px;
	width: 35px;
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 50%;
}
