#listado-pokemon-titulo {
	text-align: center;
	margin-top: 50px;
}

#contenedor-pantalla-pokemon {
	width: 100%;
}

#contenedor-listado-detalle {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 50px;
}

#contenedor-lista-wrapper {
	background-color: #ffffff;
	width: 65%;
}

#contenedor-detalle {
	width: 30%;
	height: 80vh;
}

#contenedor-lista-wrapper,
#contenedor-lista {
	height: 80vh;
	margin: 0em;
}

#contenedor-lista,
#contenedor-detalle {
	border: 3px solid rgb(236, 235, 235);
	border-radius: 10px;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

#lista-small-padding {
	padding-top: 10px;
}

#lista-pokemon {
	height: 100%;
	margin: 0em;
	overflow-y: auto;
}

#controles-pokemon {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px;
}

@media screen and (max-width: 480px) {
	#contenedor-listado-detalle {
		display: flex;
		flex-direction: column;
	}

	#contenedor-lista-wrapper {
		order: 2;
		width: 95%;
		margin-bottom: 15px;
	}

	#contenedor-detalle {
		order: 1;
		width: 95%;
		margin-bottom: 15px;
	}
}
